body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: #f1f1f1;
}

h1{
    font-family: "Brush Script MT", cursive;
    color: #415E51;
    font-size: 65px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-style: double;
}

h2{
  font-family: "Brush Script MT", cursive;
  color: rgb(44, 63, 54);
  font-size: 45px;
  font-weight: 350;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom-style: double;
  margin-left: 50px;
  margin-right: 50px;
}

h3{
  font-family: "Brush Script MT", cursive;
  color: #415E51;
  font-size: 35px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  border-bottom-style: double;
}

#container {
    width:1279px;
    margin:auto;
}

.footer {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom-style: double;
  margin-left: 50px;
  margin-right: 50px
}

/* below is responsible for New Location form at top */
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.add-experience-btn{
  font-size: 25px;
  float: center;
  border-style: none;
  background-color:  #92B7C7;
  font-family: "Brush Script MT", cursive;
}

.delete{
  font-size: 25px;
  float: center;
  border-style: none;
  background-color:  #92B7C7;
  font-family: "Brush Script MT", cursive;
}


.location-card{
    float: left;
    border-style: groove;
    border-color: #35353C;
    border-width: 2px;
    width:1250px;
    height: 750px;
    background-color: #92B7C7;
    /* background-color: #8EBCC0; */
    color: black;
    margin:20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.image-url {
  justify-self: center;
  height: 12rem;
  width: auto;
}

.experience-card{
    float: center;
    width:350px;
    height: 400px;
    background-color: white;
    color: #000080;
    margin:15px;
    text-align: center;
    margin-top:20px;
    margin-bottom:400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* padding: 16px; */
}

/* .experience-card{
  padding: 16px;
  text-align: center; */
  /* background-color: #f1f1f1; */
/* } */

/* .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  } */

.center-text {
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 27%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


/*  Full-width click through slideshow: */

html, body {
  height: 100%; 
  width: 100%;
  margin: 0;
  padding: 0;
}
  
.wrap {
  height: 75%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #120103;
  color: #fff;
  text-align: center;
}

.footer_class {
  background: #3e474f;
  box-shadow: 0 0.5em 1em #111;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 900;
  width: 100%;
}

.footer_class label {
  color: #788188;
  cursor: pointer;
  display: inline-block;
  line-height: 3em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 1em;
}

.footer_class label:hover {
  background: #2e353b;
}

.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-color: #120103;
  background-position: 50% 50%;
  background-size: cover;
  transition: left 0s 0.75s;
}

.slide-one {
  background-image: url(https://www.pastepic.xyz/images/2020/01/16/kDQegb79211a663b33ad4c.jpg);
}

.slide-two {
  background-image: url(https://www.pastepic.xyz/images/2020/01/16/TravelHDwallpapers130700d7a5c9a5154e.jpg);
} 

.slide-three {
  background-image: url(https://www.pastepic.xyz/images/2020/01/16/kisscc0-ultra-high-definition-television-4k-resolution-des-travel-5afd944adf4c84.63178287152656801091471f2ce3efd2742bbd.jpg);
}

.slide-four {
  background-image: url(https://farm4.staticflickr.com/3927/33620928972_4f03e1f608_k.jpg);
}

.slide-five {
  background-image: url(https://www.pastepic.xyz/images/2020/01/16/TravelHDwallpapers10e035eda46eb87650.jpg);
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

.slide h4 {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s 0.5s, opacity 0.5s;
}

[id^="slide"]:checked + .slide h4 {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s 0.5s;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}