h1 {
    font-family: "Brush Script MT", cursive;
    color: rgb(44, 63, 54);
    font-size: 65px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom-style: solid;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
  font-family: "Brush Script MT", cursive;
  color: rgb(14, 24, 14);
  font-size: 45px;
  font-weight: 350;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom-style: solid;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
}

h3 {
  font-family: "Brush Script MT", cursive;
  color: rgb(14, 24, 14);
  font-size: 35px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
  border-bottom-style: solid;
}

#container {
    width:1279px;
    margin:auto;
}

.back {
  font-size: 25px;
  float: center;
  border-style: none;
  background-color: #3e474f;
  font-family: "Brush Script MT", cursive;
  margin-right: 15px;
  color: rgb(13, 20, 13);
  margin-bottom: 40px;
  cursor: pointer;
}

.submit {
  font-size: 25px;
  float: center;
  border-style: none;
  background-color: #3e474f;
  font-family: "Brush Script MT", cursive;
  color: rgb(13, 20, 13);
  margin-bottom: 40px;
  cursor: pointer;
}

.experience_form_input {
  border-bottom-style: solid;
  border-top-style: none;
  border-color: rgb(14, 24, 14);
  border-left-style: none;
  background-color: #3e474f;
}

.footer {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 50px;
  margin-right: 50px
}

h5 {
  font-family: "Brush Script MT", cursive;
  color: rgb(14, 24, 14);
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 10px
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form_input {
  border-bottom-style: solid;
  border-top-style: none;
  border-color: rgb(14, 24, 14);
  border-left-style: none;
}

.add-experience-btn {
  font-size: 25px;
  float: center;
  border-style: none;
  background-color: #3e474f;
  font-family: "Brush Script MT", cursive;
  color: rgb(13, 20, 13);
  cursor: pointer;
}

.submit_button {
  font-family: "Brush Script MT", cursive;
  color: rgb(14, 24, 14);
  font-size: 25px;
  font-weight: 300;
  float: center;
  border-style: none;
  background-color: white;
  cursor: pointer;
}

.delete {
  font-size: 25px;
  float: center;
  border-style: none;
  background-color: #3e474f;
  font-family: "Brush Script MT", cursive;
  color: rgb(13, 20, 13);
  cursor: pointer;
}

.delete_experience {
  font-size: 25px;
  float: center;
  border-style: none;
  background-color: white;
  font-family: "Brush Script MT", cursive;
  color: rgb(14, 24, 14);
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.location-card {
    float: left;
    border-style: groove;
    border-color: #35353C;
    border-width: 2px;
    width:1250px;
    background-color: #3e474f;
    color: black;
    margin:20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 100px;
    overflow: hidden;
}

.image-url {
  justify-self: center;
  height: 12rem;
  width: auto;
}

.experience-card {
    float: center;
    width:350px;
    height: 440px;
    background-color: white;
    color: rgb(14, 24, 14);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 45px;
    margin-right: 25px;
}

.center-text {
  text-align: center;
}

* {
  box-sizing: border-box;
}
  
/* Float four columns side by side */
.column {
  float: left;
  width: 27%;
  padding: 0 10px;
}
  
/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/*  Full-width click through slideshow: */

html, body {
  height: 100%; 
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
  
.wrap {
  height: 75%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #120103;
  color: #fff;
  text-align: center;
}

.footer_class {
  background: #3e474f;
  box-shadow: 0 0.5em 1em #111;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 900;
  width: 100%;
}

.footer_class label {
  color: #788188;
  cursor: pointer;
  display: inline-block;
  line-height: 3em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 1em;
}

.footer_class label:hover {
  background: #2e353b;
}

.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-color: #120103;
  background-position: 50% 50%;
  background-size: cover;
  transition: left 0s 0.75s;
}

.slide-one {
  background-image: url(https://www.pastepic.xyz/images/2020/01/16/kDQegb79211a663b33ad4c.jpg);
}

.slide-two {
  background-image: url(https://www.pastepic.xyz/images/2020/01/16/TravelHDwallpapers130700d7a5c9a5154e.jpg);
} 

.slide-three {
  background-image: url(https://www.pastepic.xyz/images/2020/01/16/kisscc0-ultra-high-definition-television-4k-resolution-des-travel-5afd944adf4c84.63178287152656801091471f2ce3efd2742bbd.jpg);
}

.slide-four {
  background-image: url(https://farm4.staticflickr.com/3927/33620928972_4f03e1f608_k.jpg);
}

.slide-five {
  background-image: url(https://www.pastepic.xyz/images/2020/01/16/TravelHDwallpapers10e035eda46eb87650.jpg);
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

.slide h4 {
  font-size: 35px;
  justify-content: center;
  text-align: right;
  margin-top: 110px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s 0.5s, opacity 0.5s;
}

[id^="slide"]:checked + .slide h4 {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s 0.5s;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
